build
ubuntu_bld
examples/basic_usage
examples/validation_example
examples/c_interop/c_interop_test
*.o
settings.json
benchmarks/twitter_json_parsing
benchmarks/json_fusion_benchmark
benchmarks/canada_json_parsing
benchmarks/glaze_like

benchmarks/twitter_json_c_sharp/ubuntu-bld
benchmarks/embedded/code_size/results_arm_cortex-m.json
benchmarks/embedded/code_size/results_esp32_xtensa_lx6.json
